@{
  Layout = "_Layout";
}

<h1>Add a Format</h1>

<form action="/formats" method="post">
  <label for="formatType">Format Type</label>
  <input id="formatType" name="formatType" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/formats">Back to Formats.</a></p>