@using MusicOrganizer.Models;

<h3>Here are all the records in this format:</h3>

<ol>
@foreach (Record record in @Model["records"])
{
  <li><a href='/formats/@Model["format"].Id/records/@record.Id'>@record.Title</a></li>
}
</ol>

<p><a href='/formats/@Model["format"].Id/records/new'>Add a new record</a></p>
<p><a href='/formats'>Return to format list</a></p>
<p><a href='/'>Return to Main Page</a></p>