<h1>Add a new record to @Model.Type</h1>

<form action="/formats/@Model.Id/records" method="post">
  <input id="formatId" name="formatId" type="hidden" value="@Model.Id">
  <label for="recordTitle">Record Name</label>
  <input id="recordTitle" name="recordTitle" type="text">
  <label for="recordArtist">Record Artist</label>
  <input id="recordArtist" name="recordArtist" type="text">
  <button type='submit'>Add records</button>
</form>