@{
  Layout = "_Layout";
}

<h1>Add a new record to @Model.Type</h1>

<form action="/formats/@Model.Id/records" method="post">
  <div class="form-group">
    <input class="form-control" id="formatId" name="formatId" type="hidden" value="@Model.Id">
  </div>
  <div class="form-group">
    <label for="recordTitle">Record Title</label>
    <input class="form-control" id="recordTitle" name="recordTitle" type="text">
  </div>
  <div class="form-group">
    <label for="recordArtist">Record Artist</label>
    <input class="form-control" id="recordArtist" name="recordArtist" type="text">
  </div>
  <button class="btn btn-primary" type='submit'>Add records</button>
</form>