@{
  Layout = "_Layout";
}

<h1>Music Organizer</h1>
<h3>Record Details:</h3>

<h2>@Model["record"].Title</h2>
<h3>Artist: @Model["record"].Artist</h3>
<h3>Format: @Model["format"].Type</h3>

<a href='/formats/@Model["format"].Id/records/new'>Add another record</a>
<a href='/formats'>View all formats</a>